<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#password-input").on('input', function() {
                updatePasswordStrength($(this).val().length);
            });

            function updatePasswordStrength(length) {
                var strength = "";
                if (length <= 3) {
                    strength = "Weak";
                } 
                else if (length <= 6) {
                    strength = "Moderate";
                } 
                else {
                    strength = "Strong";
                }

                $("#password-strength").text("Password Strength: " + strength);
            }
        });

        function copyPassword() {
            const passwordField = document.getElementById('generatedPassword');
            const passwordText = passwordField.innerText;

            const tempInput = document.createElement('input');
            tempInput.value = passwordText;

            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            alert('Password copied to clipboard!');
        }
    </script>
</head>
<body>
    <div class="header-section">
        <h1>Welcome to PassGen</h1>
    </div>

    <div class="input-section">
        <form id="passwordForm" action="/generate_password" method="post">
            <label for="num_alpha">Number of Alphabets:</label>
            <input type="number" name="num_alpha" required><br>

            <label for="num_num">Number of Numbers:</label>
            <input type="number" name="num_num" required><br>

            <label for="num_symbols">Number of Symbols:</label>
            <input type="number" name="num_symbols" required><br>

            <button type="submit" onclick="copyPassword()">Generate Password</button>
        </form>

        {% if password %}
            <div class="password-container">
                <h2>Your Generated Password:</h2>
                <p id="generatedPassword">{{ password }}</p>
                <button onclick="copyPassword()">Copy Password</button>
                <p id="password-strength">Password Strength: Weak</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
